<div class="card">
    <h5 class="card-header">
      <img style="height: 30px; width: 30px" alt="" *ngIf="usuario" src="{{usuario.foto}}">
      @{{sugerencia.user_nick}}
    </h5>
  <div class="card-body">
    <p>{{sugerencia.sugerencia}}</p>
    <p><small>{{sugerencia.created_at}}</small></p>
  </div>
  </div>