<div class="element-wrapper">
    <h3 class="element-header">
        -{{search}}- Busqueda por {{tipo}}
    </h3>
  
    <app-receta *ngFor="let receta of this.recetas" [res]="receta" [usuario]="usuario"></app-receta>
       
  </div>
