ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #047BF9;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}