<div class="top-bar col-lg-6 mx-auto">

    <div id="icon" class="d-flex flex-row">
        <div class="logged-user-w p-2" style="margin-left: 1%">
            <div class="logged-user-i">
                <div class="avatar-w">
                    <img alt="" src="assets/img/icon_rezs.png">
                </div>
            </div>
        </div>
        <h2 class="p-2">
            ReZs
        </h2>
    </div>
    <!--------------------
                START - Top Menu Controls 
                -------------------->
    <div class="top-menu-controls">
        <div class="element-search autosuggest-search-activator">
            <input placeholder="Busca una receta..." type="text" (keyup.enter)="busqueda()" [(ngModel)]="search">
        </div>

        <ul>
            <li><a routerLink='/app/home'>Home</a></li>
            <li><a routerLink='/app/perfil/{{usuario.nick}}'>{{usuario.nombre}}</a></li>
        </ul>

        <div class="logged-user-w">
            <div class="logged-user-i">
              <div class="avatar-w">
                <img alt="" src="{{usuario.foto}}">
              </div>
              <div class="logged-user-menu color-style-bright">
                <div class="logged-user-avatar-info">
                  <div class="avatar-w">
                    <img alt="" src="{{usuario.foto}}">
                  </div>
                  <div class="logged-user-info-w">
                    <div class="logged-user-name">
                      {{usuario.nombre}}
                    </div>
                    <div class="logged-user-role">
                     {{usuario.rango}}
                    </div>
                  </div>
                </div>
                <div class="bg-icon">
                  <i class="os-icon os-icon-wallet-loaded"></i>
                </div>
                <ul>
                  <li>
                    <a routerLink="/app/perfil/{{usuario.nick}}"><i class="os-icon os-icon-user-male-circle2"></i><span>Perfil</span></a>
                  </li>
                  <li>
                    <a routerLink="/app/editar"><i class="os-icon os-icon-pencil-1"></i><span>Editar Perfil</span></a>
                  </li>
                  <li>
                    <a (click)="logOuth()"><i class="os-icon os-icon-signs-11"></i><span>Cerrar sesion</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
    </div>
</div>