<div class="auth-wrapper">
    <div class="all-wrapper menu-side with-pattern">
      <div class="auth-box-w">
        <div class="logo-w" style="padding: 5%">
            <a><img alt="" src="assets/img/icon_rezs.png" height="200px"></a>
          <h2>ReZs</h2>
        </div>
        <h4 class="auth-header">
          Registro
        </h4>
        <form [formGroup]="forma" (ngSubmit)="registrar()" novalidate="novalidate">
                        <div class="user-profile compact mb-auto p-2">
                                <div class="up-controls" style="padding:0">
                                    <label for="fld-image" id="img-preiew" class="Avatar img-default"></label>
                                    <input type="file" (change)="changeImg($event.target.files[0])" name="img" id="fld-image" formControlName="img" style="display:none;">
                                </div>
                            </div>
          <div class="form-group" [ngClass]="{ 'has-danger': forma.get('userNick').invalid  && forma.get('userNick').touched }">
            <label for="">Nick de usuario</label><input class="form-control" formControlName="userNick" name="userNick" placeholder="Ingrese nick de usuario" type="text">
            <div *ngIf="forma.controls['userNick'].errors?.required && forma.get('userNick').touched" class="text-danger">
                <small>El nick de usuario es requerido</small>
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-danger': forma.get('email').invalid  && forma.get('email').touched }">
              <label for="">Email</label><input class="form-control" formControlName="email" name="email" placeholder="Ingrese email" type="email">
              <div *ngIf="forma.controls['email'].errors?.required && forma.get('email').touched" class="text-danger">
                  <small>El email es requerido</small>
              </div>
              <div *ngIf="forma.controls['email'].errors?.email && forma.get('email').touched" class="text-danger">
                  <small>El formato de email no es valido</small>
              </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-danger': forma.get('nombre').invalid  && forma.get('nombre').touched }">
            <label for="">Nombre</label><input class="form-control" formControlName="nombre" name="nombre" placeholder="Ingrese su nombre" type="text">
            <div *ngIf="forma.controls['nombre'].errors?.required && forma.get('nombre').touched" class="text-danger">
                <small>El nombre es requerido</small>
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-danger': forma.get('apellido').invalid  && forma.get('apellido').touched }">
            <label for="">Apellido</label><input class="form-control" formControlName="apellido" name="apellido" placeholder="Ingrese su apellido" type="text">
            <div *ngIf="forma.controls['apellido'].errors?.required && forma.get('apellido').touched" class="text-danger">
                <small>El apellido es requerido</small>
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-danger': forma.get('contrasenia').invalid  && forma.get('contrasenia').touched }">
            <label for="">Contraseña</label><input class="form-control" formControlName="contrasenia" name="contrasenia" placeholder="Ingrese contraseña" type="password">
            <div *ngIf="forma.controls['contrasenia'].errors?.required && forma.get('contrasenia').touched" class="text-danger">
                <small>La contraseña es requerida</small>
            </div>
            <div *ngIf="forma.controls['contrasenia'].errors?.minlength && forma.get('contrasenia').touched" class="text-danger">
                <small>La contraseña debe tener al menos 6 caracteres</small>
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-danger': forma.get('contrasenia2').invalid  && forma.get('contrasenia2').touched }">
              <label for="">Repetir contraseña</label><input class="form-control" formControlName="contrasenia2" name="contrasenia2" placeholder="Repita la contraseña" type="password">
              <div *ngIf="forma.controls['contrasenia2'].errors?.required && forma.get('contrasenia2').touched" class="text-danger">
                  <small>La contraseña es requerida</small>
              </div>
              <div *ngIf="(forma.controls['contrasenia2'].value != forma.controls['contrasenia'].value) && forma.get('contrasenia2').touched" class="text-danger">
                  <small>La contraseñas no coinciden</small>
              </div>
          </div>
          <div class="buttons-w" >
            <button class="btn btn-primary" [ngClass]=" {'disabled' : this.forma.invalid}">Registrar</button>
          </div>
          <p style="margin-top: 10px">¿Ya tienes una cuenta?. <a routerLink="/login">Inicia sesion</a></p>
        </form>
      </div>
    </div>
  
  
  </div>


  <swal
  #registroSwal
  title="Registo exitoso"
  text="{{this.forma.get('userNick').value}} has sido registrado en Rezs"
  (confirm)="ok()"
  (cancel)="ok()">
</swal>
