<div class="onboarding-modal modal fade" id="ingredienteModal" role="dialog" tabindex="-1" style="padding-right: 15px; display: block;">
  <div class="modal-dialog modal-centered" role="document">
    <div class="modal-content text-center">
      <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="close-label">Skip Intro</span><span class="os-icon os-icon-close"></span></button>
      <div class="onboarding-content with-gradient">
        <h4 class="onboarding-title">
          Agregar nuevo ingrediente  
        </h4>
        <form [formGroup]="forma">
          <div class="row">
            <div class="col-sm-6">
                <div class="form-group" [ngClass]="{ 'has-danger': forma.get('nombre').invalid  && forma.get('nombre').touched }">
                    <label for=""> Nombre de ingrediente</label>
                    <input class="form-control" formControlName="nombre" name="nombre" placeholder="Lechuga, Hierbas, Agua" type="text">
                    <div *ngIf="forma.controls['nombre'].errors?.required && forma.get('nombre').touched" class="text-danger">
                        <small>El nombre es requerido</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group" [ngClass]="{ 'has-danger': forma.get('cantidad').invalid  && forma.get('cantidad').touched }">
                    <label for=""> Cantidad de ingrediente</label>
                    <input class="form-control" formControlName="cantidad" name="cantidad" placeholder="Numero de ingrediente" type="number">
                    <div *ngIf="forma.controls['cantidad'].errors?.required && forma.get('cantidad').touched" class="text-danger">
                        <small>Ingresa la cantidad del ingrediente</small>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group" [ngClass]="{ 'has-danger': forma.get('medicion').invalid  && forma.get('medicion').touched }">
                    <label for=""> Medicion</label>
                    <select class="form-control" formControlName="medicion" name="medicion">
                            <option>
                              Litros
                            </option>
                            <option>
                              Gramos
                            </option>
                          </select>
                    <div *ngIf="forma.controls['medicion'].errors?.required && forma.get('medicion').touched" class="text-danger">
                        <small>La categoria es requerida</small>
                    </div>
                </div>
            </div>
            </div>
                <button class="btn btn-primary">Agregar Ingrediente</button>
        </form>
      </div>
    </div>
  </div>
</div>
