<div class="element-wrapper">
    <h3 class="element-header">
      Editar perfil
    </h3>
  
    <form [formGroup]="forma" (ngSubmit)="registrar()" novalidate="novalidate">
 
        <div class="row">
            <div class="col-sm-4">
                    <div class="user-profile compact mb-auto p-2">
                            <div class="up-controls" style="padding:0">
                                <label for="fld-image" id="img-preiew" class="Avatar img-default"></label>
                                <input type="file" (change)="changeImg($event.target.files[0])" name="img" id="fld-image" formControlName="img" style="display:none;">
                            </div>
                        </div>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                            <div class="form-group" [ngClass]="{ 'has-danger': forma.get('nombre').invalid  && forma.get('nombre').touched }">
                                    <label for="">Nombre</label><input class="form-control" formControlName="nombre" name="nombre" placeholder="Ingrese su nombre" type="text">
                                    <div *ngIf="forma.controls['nombre'].errors?.required && forma.get('nombre').touched" class="text-danger">
                                        <small>El nombre es requerido</small>
                                    </div>
                                  </div>
                    </div>
                    <div class="col-sm-6">
                            <div class="form-group" [ngClass]="{ 'has-danger': forma.get('apellido').invalid  && forma.get('apellido').touched }">
                                    <label for="">Apellido</label><input class="form-control" formControlName="apellido" name="apellido" placeholder="Ingrese su apellido" type="text">
                                    <div *ngIf="forma.controls['apellido'].errors?.required && forma.get('apellido').touched" class="text-danger">
                                        <small>El apellido es requerido</small>
                                    </div>
                                  </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-sm-6">
                                <div class="form-group" [ngClass]="{ 'has-danger': forma.get('userNick').invalid  && forma.get('userNick').touched }">
                                        <label for="">Nick de usuario</label><input class="form-control" disabled formControlName="userNick" name="userNick" placeholder="Ingrese nick de usuario" type="text">
                                        <div *ngIf="forma.controls['userNick'].errors?.required && forma.get('userNick').touched" class="text-danger">
                                            <small>El nick de usuario es requerido</small>
                                        </div>
                                      </div>
                        </div>
                        <div class="col-sm-6">
                                <div class="form-group" [ngClass]="{ 'has-danger': forma.get('email').invalid  && forma.get('email').touched }">
                                        <label for="">Email</label><input class="form-control" formControlName="email" name="email" placeholder="Ingrese email" type="email">
                                        <div *ngIf="forma.controls['email'].errors?.required && forma.get('email').touched" class="text-danger">
                                            <small>El email es requerido</small>
                                        </div>
                                        <div *ngIf="forma.controls['email'].errors?.email && forma.get('email').touched" class="text-danger">
                                            <small>El formato de email no es valido</small>
                                        </div>
                                    </div>
                        </div>
                    </div>
            </div>
        </div>        
        <fieldset class="form-group">
            <legend><span>Cambiar contraseña</span></legend>
            <div class="row">
                <div class="col-sm-6">
                        <div class="form-group" [ngClass]="{ 'has-danger': forma.get('contraseniaAct').invalid  && forma.get('contraseniaAct').touched }">
                                <label for="">Contraseña Actual</label><input class="form-control" formControlName="contraseniaAct" name="contraseniaAct" placeholder="Ingrese contraseña actual" type="password">
                                <div *ngIf="forma.controls['contraseniaAct'].errors?.required && forma.get('contraseniaAct').touched" class="text-danger">
                                    <small>La contraseña actual es requerida</small>
                                </div>
                              </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                        <div class="form-group" [ngClass]="{ 'has-danger': forma.get('contrasenia').invalid  && forma.get('contrasenia').touched }">
                                <label for="">Nueva contraseña</label><input class="form-control" formControlName="contrasenia" name="contrasenia" placeholder="Ingrese contraseña nueva" type="password">
                                <div *ngIf="forma.controls['contrasenia'].errors?.required && forma.get('contrasenia').touched" class="text-danger">
                                    <small>Debe repetir la nueva contraseña</small>
                                </div>
                                <div *ngIf="forma.controls['contrasenia'].errors?.minlength && forma.get('contrasenia').touched" class="text-danger">
                                    <small>La nueva contraseña debe tener al menos 6 caracteres</small>
                                </div>
                              </div>
                </div>
                <div class="col-sm-6">
                        <div class="form-group" [ngClass]="{ 'has-danger': forma.get('contrasenia2').invalid  && forma.get('contrasenia2').touched }">
                                <label for="">Repetir contraseña</label><input class="form-control" formControlName="contrasenia2" name="contrasenia2" placeholder="Repita la contraseña" type="password">
                                <div *ngIf="forma.controls['contrasenia2'].errors?.required && forma.get('contrasenia2').touched" class="text-danger">
                                    <small>La contraseña nueva es requerida</small>
                                </div>
                                <div *ngIf="(forma.controls['contrasenia2'].value != forma.controls['contrasenia'].value) && forma.get('contrasenia2').touched" class="text-danger">
                                    <small>La contraseñas no coinciden</small>
                                </div>
                            </div>
                </div>
            </div>
          </fieldset>
        <div class="form-buttons-w">
            <button class="btn btn-primary" [ngClass]=" {'disabled' : this.forma.invalid}" type="submit"> Editar</button>
        </div>
    </form>
       
  </div>
