<div class="card">
  <h5 class="card-header">
    <img style="height: 30px; width: 30px" alt="" *ngIf="usuario" src="{{usuario.foto}}">
    @{{comentario.user_nick}}
  </h5>
<div class="card-body">
  <p>{{comentario.comentario}}</p>
  <p class="card-text" *ngIf="comentario.calificacion"><i class="os-icon os-icon-star"></i><strong>{{comentario.calificacion}}</strong></p>
  <p><small>{{comentario.created_at}}</small></p>
</div>
</div>