<div class="mx-auto">
    <div class="user-profile compact">
        <div class="up-head-w" [style.background-image]="'url('+usuario.foto+')'">
            <div class="up-social">
                <a href="#"><i class="os-icon os-icon-twitter"></i></a><a href="#"><i class="os-icon os-icon-facebook"></i></a>
            </div>
            <div class="up-main-info">
                <h2 class="up-header">
                    {{usuario.nombre}} {{usuario.apellido}}
                </h2>
                <h6 class="up-sub-header">
                    @{{usuario.nick}}
                </h6>
            </div>
            <svg class="decor" width="842px" height="219px" viewBox="0 0 842 219" preserveAspectRatio="xMaxYMax meet" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g transform="translate(-381.000000, -362.000000)" fill="#FFFFFF"><path class="decor-path" d="M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z"></path></g></svg>
        </div>
        <div class="up-controls"> 
            <div class="row">
                    <a *ngIf="!seg" class="btn btn-success" style="width: 100%" (click)="follow()"><strong>Seguir</strong></a>
                    <a *ngIf="seg" class="btn btn-grey" style="width: 100%" (click)="unfollow()"><strong>Dejar de seguir</strong></a>
            </div>
        </div>
        </div>
        <div class="up-contents">
            <div class="m-b">
                <div class="row m-b">
                    <div class="col-sm-4 b-r b-b clikeable" (click)="changeSelect(1)">
                        <div class="el-tablo centered padded-v">
                            <div class="value">
                                {{dataUser.NumRecetas}}
                            </div>
                            <div class="label">
                                Publicaciones
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 b-b clikeable" (click)="changeSelect(2)">
                        <div class="el-tablo centered padded-v">
                            <div class="value">
                                {{dataUser.Seguidores}}
                            </div>
                            <div class="label">
                                Seguidores
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 b-l b-b clikeable" (click)="changeSelect(3)">
                        <div class="el-tablo centered padded-v">
                            <div class="value">
                                {{dataUser.Siguiendo}}
                            </div>
                            <div class="label">
                                Seguiendo
                            </div>
                        </div> 
                    </div>
                </div>

                <div class="element-wrapper" *ngIf="select === 1">
                    <h3 class="element-header">
                        Mis publicaciones
                    </h3>

                    <h5 *ngIf="recetas.length == 0" style="text-align: center">Aún no tienes recetas publicadas :(</h5>

                    <app-receta *ngFor="let receta of this.recetas" [res]="receta" [usuario]="usuarioToken"></app-receta> 

                </div>

                <div class="element-wrapper" *ngIf="select === 2">
                    <h3 class="element-header">
                        Seguidores
                    </h3>
                    <h5 *ngIf="this.followers.length == 0" style="text-align: center">Aún no tiene seguidores :(</h5>
                    <item-user *ngFor="let usuario of this.followers" [res]="usuario"></item-user>
                </div>
                
                <div class="element-wrapper" *ngIf="select === 3">
                    <h3 class="element-header">
                        Suiguiendo
                    </h3>
                    <h5 *ngIf="this.followings.length == 0" style="text-align: center">No sigue ningun usuario</h5>
                    <item-user *ngFor="let usuario of this.followings" [res]="usuario"></item-user>
                </div>
        </div>
    </div>
</div>
