<div class="auth-wrapper">
  <div class="all-wrapper menu-side with-pattern">
    <div class="auth-box-w">
      <div class="logo-w" style="padding: 5%">
        <a><img alt="" src="assets/img/icon_rezs.png" height="200px"></a>
        <h2>ReZs</h2>
      </div>
      <h4 class="auth-header">
        Iniciar sesion
      </h4>
      <form [formGroup]="forma" (ngSubmit)="login()">
        <div class="form-group" [ngClass]="{ 'has-danger': forma.get('userNick').invalid  && forma.get('userNick').touched }">
          <label for="">Nick de usuario</label><input class="form-control" formControlName="userNick" name="userNick" placeholder="userexample" type="text">
          <div class="pre-icon os-icon os-icon-user-male-circle"></div>
          <div *ngIf="forma.controls['userNick'].errors?.required && forma.get('userNick').touched" class="text-danger">
              <small>El nick de usuario es requerido</small>
          </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-danger': forma.get('contrasenia').invalid  && forma.get('contrasenia').touched }">
          <label for="">Contraseña</label><input class="form-control" formControlName="contrasenia" name="contrasenia" placeholder="Ingresa tu contraseña" type="password">
          <div class="pre-icon os-icon os-icon-fingerprint"></div>
          <div *ngIf="forma.controls['contrasenia'].errors?.required && forma.get('contrasenia').touched" class="text-danger">
              <small>La contraseña es requerida</small>
          </div>
        </div>
        <div class="buttons-w">
          <button class="btn btn-primary" [ngClass]=" {'disabled' : this.forma.invalid}">Iniciar</button>
          <div class="form-check-inline">
            <label class="form-check-label"><input class="form-check-input" type="checkbox">Remember Me</label>
          </div>
        </div>
        <p style="margin-top: 10px">¿Aún no tienes una cuenta?. <a routerLink="/registro">Registrate</a></p>
      </form>
    </div>
  </div>


</div>