.titleImage{
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 5px 15px;
    text-align: center;
    font-weight: 500;
}