<div class="element-wrapper">
    <h2 class="element-header" style="text-align: center">
        Últimas recetas publicadas
    </h2>

    <button class="mx-auto btn btn-primary" style="width: 100%; display: block;" routerLink="/app/receta" >Publicar nueva receta</button>

    <div style="margin-top: 10px">
        <app-receta *ngFor="let receta of this.recetas" [res]="receta" [usuario]="usuario" (idElim)="delete($event)"></app-receta>

        </div>

</div>