<div class="card mx-auto">
  <div class="user-profile compact" *ngIf="this.res">
  <div class="up-head-w" [ngStyle]="{'background-image': photo }">
  <div class="up-main-info">
      <h2 class="up-header">
          {{this.receta.nombre}}
      </h2>
      <h6 class="up-sub-header">
         <a class="ssg-item" href="users_profile_big.html">
          <div class="item-media" style="background-image:url('https://d30y9cdsu7xlg0.cloudfront.net/png/630729-200.png')"></div>
          <a routerLink="/app/usuario/{{receta.user_nick}}">
              @{{this.receta.user_nick}}
          </a>
      </a>
      </h6>
  </div>
  </div>            
  <div class="card-body">
      
      <div class="d-flex flex-row">
          <p class="p-2 card-text ">Categoria: <a routerLink="/app/search/categoria/{{this.receta.id_categoria}}">{{this.receta.categoria}}</a></p>
          <p class="p-2 card-text"><strong>Ingredientes: </strong></p>
            <p class="p-2 card-text" *ngFor="let ingrediente of this.receta.ingredientes">
                <a routerLink="/app/search/ingrediente/{{ingrediente.nombre}}">{{ingrediente.nombre}}</a>, 
            </p>              
      </div>
      <p class="card-text" style="margin-left: 7px"><strong>Preparacion: </strong></p>
      <p style="margin-left: 7px">{{this.receta.preparacion}}</p>
      <a class="btn btn-grey" (click)="coments()">Receñas({{this.comentarios.length}})</a>
      <a class="btn btn-grey" (click)="suger()">Sugerencias({{this.sugerencias.length}})</a>
      <a class="btn btn-success" style="color: white" (click)="pedidoSwal.show()">Pedido de ReZ</a>
      <a class="btn btn-danger" style="color: white" (click)="deleteSwal.show()"      
        *ngIf="receta.user_nick === this.usuario.nick" >Eliminar publicación</a>
      <p class="card-text"><small class="text-muted">{{this.receta.created_at}}</small></p>

      <div *ngIf="comAct" class="card">
        <app-comentario *ngFor="let comentario of comentarios" [comentario]="comentario"></app-comentario>
        <!-- my coment -->
  <div class="card d-flex justify-content fadeIn">
        <h5 class="card-header">
          <img style="height: 30px; width: 30px" alt="" src="{{this.usuarioToken.foto}}">
          @{{usuarioToken.nick}} 
        </h5>
      <div class="card-body">
          <form [formGroup]="this.forma">
              <div class="row">
                  <div class="col-sm-3">
                        <div class="form-group">
                                <div class="input-group">
                                    <select class="form-control" formControlName="calificacion">
                                        <option value="5">5</option>
                                        <option value="4">4</option>
                                        <option value="3">3</option>
                                        <option value="2">2</option>
                                        <option value="1">1</option>
                                    </select>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="os-icon os-icon-star"></i></span>
                                    </div>
                                </div>
                            </div>
                  </div>
                  <div class="col-sm-9">
                      <div class="form-group" [ngClass]="{ 'has-danger': forma.get('comentario').invalid  && forma.get('comentario').touched }">
                              <input class="form-control" formControlName="comentario" name="comentario" placeholder="Ingresa una reseña..." type="text">
                              <div *ngIf="forma.controls['comentario'].errors?.required && forma.get('comentario').touched" class="text-danger">
                                  <small>El comentario es requerido</small>
                              </div>
                          </div>
                  </div>
              </div>
                <div class="d-flex justify-content-end" style="margin-top: 5px">
                  <a class="btn btn-primary" [ngClass]="{ 'disabled' : this.forma.invalid }" (click)="resena()">Agregar nueva reseña</a>
                </div>
          </form>
      </div>
    </div>
      </div>
      <div *ngIf="surAct" class="card">
            <app-sugerencia *ngFor="let sugerencia of sugerencias" [sugerencia]="sugerencia"></app-sugerencia>
            <!-- my coment -->
      <div class="card d-flex justify-content fadeIn">
            <h5 class="card-header">
              <img style="height: 30px; width: 30px" alt="" src="{{usuarioToken.foto}}">
              @{{usuarioToken.nick}} 
            </h5>
          <div class="card-body">
              <form [formGroup]="this.forma">
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="form-group" [ngClass]="{ 'has-danger': forma.get('comentario').invalid  && forma.get('comentario').touched }">
                                  <input class="form-control" formControlName="comentario" name="comentario" placeholder="Ingresa una reseña..." type="text">
                                  <div *ngIf="forma.controls['comentario'].errors?.required && forma.get('comentario').touched" class="text-danger">
                                      <small>El comentario es requerido</small>
                                  </div>
                              </div>
                      </div>
                  </div>
                    <div class="d-flex justify-content-end" style="margin-top: 5px">
                      <a class="btn btn-primary" [ngClass]="{ 'disabled' : this.forma.invalid }" (click)="surgerencia()">Agregar sugerencia</a>
                    </div>
              </form>
          </div>
        </div>
          </div>
  </div>

</div>








</div>
<swal
  #deleteSwal
  title="Eliminar receta {{ receta.nombre }}"
  text="¿Estas seguro de eliminar esta receta?"
  type="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="delete(true)">
</swal>

<swal
  #pedidoSwal
  title="Hacer pedido de {{this.receta.nombre}}"
  text="Los ingredientes que usted está a punto de solicitar son producidos por nuestros distribuidores campesinos de la región, su pedido será llevado hasta hogar en el menor tiempo posible."
  type="question"
  [showCancelButton]="true"
  [focusCancel]="true">
</swal>