<div class="profile-tile">
  <a class="profile-tile-box click" (click) = "userclick()" style="background-color: #e5e6eb">
    <div class="pt-avatar-w">
      <img alt="" src="{{usuario.foto}}">
    </div>
    <div class="pt-user-name">
      {{usuario.nick}} 
    </div>
  </a>
  <div class="profile-tile-meta">
    <ul>
      <li>
        Nombre:<strong>{{usuario.nombre}} {{usuario.apellido}}</strong>
      </li>
      <li>
        Seguidores:<strong>{{res.Seguidores}}</strong>
      </li>
      <li>
        Siguiendo:<strong>{{res.Siguiendo}}</strong>
      </li>
    </ul>
    <div class="pt-btn">
        <span class="badge badge-pill badge-success">{{usuario.rango}}</span>
    </div>
  </div>
</div>
