/* You can add global styles to this file, and also import other style files */
.Avatar {
    position: relative;
    display: block;
    overflow: hidden;
    border: 2px solid #f3f3f3;
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 6px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 5px 6px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 5px 6px -1px rgba(0, 0, 0, 0.3);
}

label.Avatar:before {
    content: 'Change Image';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 5px 15px;
    text-align: center;
    font-weight: 500;
}

.clikeable{
    cursor: pointer;
}

.clikeable:hover{
    background-color: #56a5fa26;
}