<div class="element-wrapper">
    <h3 class="element-header">
        Nueva receta
    </h3>
        <form [formGroup]="forma" (ngSubmit)="registrar()" > 

            <div class="row">
                <div class="col-sm-4">
                    <div class="compact mb-auto p-2">
                            <div class="up-controls" style="padding:0">
                                <label for="fld-image" id="img-preiew" class="Avatar img-default"></label>
                                <input type="file" (change)="changeImg($event.target.files[0])" name="img" id="fld-image" formControlName="img" style="display:none;">
                            </div>
                        </div>
            </div>
            <div class="col-sm-8">
                    <div class="form-group" [ngClass]="{ 'has-danger': forma.get('nombre').invalid  && forma.get('nombre').touched }">
                        <label for=""> Nombre</label>
                        <input class="form-control" formControlName="nombre" name="nombre" placeholder="Ingrese nombre de la receta" type="text">
                        <div *ngIf="forma.controls['nombre'].errors?.required && forma.get('nombre').touched" class="text-danger">
                            <small>El nombre es requerido</small>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-danger': forma.get('categoria').invalid  && forma.get('categoria').touched }">
                        <label for=""> Categoria</label>
                        <select class="form-control" formControlName="categoria" name="categoria">
                                <option *ngFor="let categoria of categorias" value="{{categoria.id}}">
                                  {{categoria.nombre}}
                                </option>
                              </select>
                        <div *ngIf="forma.controls['categoria'].errors?.required && forma.get('categoria').touched" class="text-danger">
                            <small>La categoria es requerida</small>
                        </div>
                    </div>
                    <button class="btn btn-primary" style="width: 100%;margin-top: 10px"  data-toggle="modal" data-target="#ingredienteModal">Nuevo Ingrediente</button>
            </div>
            </div>
               


            <div class="table-responsive" style="margin-bottom: 10px" *ngIf="ingredientes.length > 0">
                <table class="table table-bordered table-lg table-v2 table-striped">
                  <thead>
                    <tr>
                      <th class="text-center">
                        Nombre
                      </th>
                      <th class="text-center">
                        Cantidad
                      </th>
                      <th class="text-center">
                        Medicion
                      </th>
                      <th class="text-center">
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let i of ingredientes; let i = index">
                      <td class="text-center">
                        {{i.nombre}}
                      </td>
                      <td class="text-center">
                        {{i.cantidad}}
                      </td>
                      <td class="text-center">
                        {{i.tipo_cantidad}}
                      </td>
                      <td class="text-center">
                        <a class="text text-danger" (click)="eliminarIngrediente(i)">Eliminar</a>
                      </td>
                  </tbody>
                </table>
              </div>
            <div class="form-group" [ngClass]="{ 'has-danger': forma.get('preparacion').invalid  && forma.get('preparacion').touched }">
                    <label> Preparacion</label><textarea formControlName="preparacion" name="preparacion" class="form-control" rows="5"></textarea>
                    <div *ngIf="forma.controls['preparacion'].errors?.required && forma.get('preparacion').touched" class="text-danger">
                            <small>La preparacion es requerida</small>
                        </div>
                </div>
            <div class="form-buttons-w">
                <button class="btn btn-primary" type="submit" [ngClass]="{ 'disabled' : this.forma.invalid }"> Agregar</button>
            </div>
        </form>
</div>

<div class="onboarding-modal modal fade" id="ingredienteModal" role="dialog">
  <div class="modal-dialog modal-centered" role="document">
    <div class="modal-content text-center">
      <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="close-label">Skip Intro</span><span class="os-icon os-icon-close"></span></button>
      <div class="onboarding-content with-gradient">
        <h4 class="onboarding-title">
          Agregar nuevo ingrediente
        </h4>
        <form [formGroup]="formaI" (ngSubmit)="registrarI()">
          <div class="row">
            <div class="col-sm-6">
                <div class="form-group" [ngClass]="{ 'has-danger': formaI.get('nombre').invalid  && formaI.get('nombre').touched }">
                    <label for=""> Nombre de ingrediente</label>
                    <input class="form-control" formControlName="nombre" name="nombre" placeholder="Lechuga, Hierbas, Agua" type="text">
                    <div *ngIf="formaI.controls['nombre'].errors?.required && formaI.get('nombre').touched" class="text-danger">
                        <small>El nombre es requerido</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group" [ngClass]="{ 'has-danger': formaI.get('cantidad').invalid  && formaI.get('cantidad').touched }">
                    <label for=""> Cantidad de ingrediente</label>
                    <input class="form-control" formControlName="cantidad" name="cantidad" placeholder="Numero de ingrediente" type="number">
                    <div *ngIf="formaI.controls['cantidad'].errors?.required && formaI.get('cantidad').touched" class="text-danger">
                        <small>Ingresa la cantidad del ingrediente</small>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                  <div class="form-group" [ngClass]="{ 'has-danger': formaI.get('medicion').invalid  && formaI.get('medicion').touched }">
                      <label for=""> Medicion</label>
                      <input class="form-control" formControlName="medicion" name="medicion" placeholder="litro, gramo, tacita, etc" type="text">
                      <div *ngIf="formaI.controls['medicion'].errors?.required && formaI.get('medicion').touched" class="text-danger">
                          <small>La medicion es requerida</small>
                      </div>
                  </div>
            </div>
            </div>
            <small class="text text-danger">{{err}}</small>
                <button class="btn btn-primary" [ngClass]="{ 'disabled' : this.formaI.invalid }">Agregar Ingrediente</button>
        </form>
      </div>
    </div>
  </div>
</div>

<swal
#registroSwal
title="Registo exitoso"
text="{{this.forma.get('nombre').value}} has sido registrado en Rezs"
(confirm)="ok()"
(cancel)="ok()">
</swal>